.search__filter {
    padding: 14px;
    background: #1b1c1e;
    border-radius: 15px;

    &-list {
        display: flex;
    }

    &-button {
        border: none;
        background-color: #1b1c1e;
        color: #fafafa;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 0;
        cursor: pointer;
    }
}
