.about-artist {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: linear-gradient(90deg, #1b1c1e 0.27%, rgba(43, 69, 81, 0.4) 71.25%);
    padding: 24px;

    &__content {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__name {
        font-size: 5rem;
    }

    &__text,
    &__description {
        font-size: 1.125rem;
        color: var(--light-grey);
        line-height: 1.3;
    }
}
