.added {
    &__wrapper {
        width: 100%;
        background: linear-gradient(180deg, rgba(27, 28, 30, 0.8) 0%, rgba(27, 28, 30, 0.48) 100%);
        backdrop-filter: blur(10px);
        border-radius: 30px;
        padding: 20px;
    }

    &__title-block {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__song-list {
        height: 474px;
        padding-right: 32px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #ff6b00;
        }
        &::-webkit-scrollbar-track {
            background-color: #fff;
        }
    }

    &__song-item {
        display: flex;
        justify-content: space-between;
    }

    &__info-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__play-icon {
        height: 30px;
        width: 30px;
        background-image: url(./img/play.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    &__icon-like {
        height: 30px;
        width: 30px;
        background-image: url(./img/like.png);
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
}
