$basic-font-size: 14px;

.releases {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 100px 0px;

    &__wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        background: linear-gradient(90deg, #1b1c1e 0.27%, rgba(43, 69, 81, 0.4) 71.25%);
        padding: 24px;
        margin-bottom: 80px;
    }

    &__title {
        max-width: 300px;
        font-size: 42px;
        font-weight: bold;
        line-height: 1.4;
        text-transform: uppercase;
        margin-right: auto;
        position: relative;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        position: relative;
        max-width: 250px;
        min-width: 236px;
        min-height: 324px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 15px;
        padding: 20px 16px;

        &__title {
            font-weight: 600;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
            transition: color 0.2s linear;

            &:hover {
                color: #fd7e14;
            }
        }

        &__icon {
            position: absolute;
            height: 40px;
            width: 40px;
            top: 10px;
            right: 13px;
            padding: 5px;
            cursor: pointer;
            border-radius: 8px;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
            backdrop-filter: blur(10px);
        }

        &__img-wrap {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }

        &__img {
            height: 100%;
            width: 100%;
            border-radius: 30px;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
        }

        &__wrap,
        &__author {
            position: relative;
        }

        &__title,
        &__time,
        &__author {
            font-size: $basic-font-size;
        }
    }
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;

    &__filter {
        padding: 14px;
        background: #1b1c1e;
        border-radius: 15px;

        &-list {
            display: flex;
        }

        &-button {
            border: none;
            background-color: #1b1c1e;
            color: #fafafa;
            font-size: 16px;
            font-weight: 600;
            line-height: 150%;
            padding: 5px 10px;
            border-radius: 5px;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
    .active {
        background-color: #ff6b00;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 60px;

    .card {
        position: relative;
        max-width: 219px;
        min-height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 31px;
        overflow: hidden;

        &__content {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 24px 16px;
            border-radius: 0 0 30px 30px;
            background: linear-gradient(180deg, rgba(27, 28, 30, 0.8) 0%, rgba(27, 28, 30, 0.48) 100%);
            backdrop-filter: blur(10px);

            &__wrap {
                position: relative;
                display: flex;
                justify-content: space-between;
            }
        }

        &__top {
            display: flex;
            justify-content: space-between;
        }
        &__song-name,
        &__time,
        &__author {
            font-size: $basic-font-size;
        }

        &__img-wrap {
            position: relative;
        }

        &__img {
            border-radius: 30px 30px 0px 0px;
        }

        &__like {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 5px;
            right: 10px;
            background-image: url(./img/like.png);
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }
    }
}
