.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    margin-bottom: 50px;
}

.trending {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
