.playlists {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 100px 0px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;

        &__wrap {
            width: 50%;
        }
    }

    &__added-list {
        width: 50%;
    }

    &__item {
        position: relative;
        max-width: 220px;
        min-height: 250px;
        display: flex;
        flex-direction: column;

        &__wrap {
            position: relative;
        }

        &__img {
            border-radius: 20px;
        }

        &__icon {
            width: 20px;
            height: 20px;
        }

        &__name {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 16px;
            text-decoration: none;
            color: #fff;

            &:hover {
                color: #ff6b00;
            }
        }

        &__plus {
            min-width: 220px;
            background: rgba(185, 191, 202, 0.4);
            border-radius: 20px;
        }
    }
    &__link {
        position: absolute;
        top: 7px;
        right: 9px;
        cursor: pointer;
        padding: 8px;
        border-radius: 8px;
        background: rgba(185, 191, 202, 0.4);
        backdrop-filter: blur(10px);

        &__plus {
            position: absolute;
            top: 43%;
            right: 43%;
        }
    }

    &__added-list {
        &__track {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 30px;
        }
        &__wrapper {
            border-radius: 30px;
            background: linear-gradient(180deg, rgba(27, 28, 30, 0.8) 0%, rgba(27, 28, 30, 0.48) 100%);
            backdrop-filter: blur(10px);
            padding: 20px;
        }

        &__text-wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__link {
            cursor: pointer;
            padding: 8px;
            padding-top: 5px;
            border-radius: 8px;
            background: rgba(185, 191, 202, 0.4);
            backdrop-filter: blur(10px);
        }

        &__icon {
            width: 20px;
            height: 20px;
        }

        &__title-block {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__song-list {
            height: 474px;
            padding-right: 32px;
            overflow: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 15px;

            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #ff6b00;
            }
            &::-webkit-scrollbar-track {
                background-color: #fff;
            }
        }

        &__song-item {
            display: flex;
            justify-content: space-between;
        }

        &__info-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        &__play-icon {
            height: 30px;
            width: 30px;
            background-image: url(../Playlist/img/play.png);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            cursor: pointer;
        }

        &__icon-like {
            height: 30px;
            width: 30px;
            background-image: url(../Playlist/img/like.png);
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }
    }

    &__played {
        margin-top: 50px;

        &__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.4;
            margin-bottom: 20px;
        }

        &__toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        &__arrow-left,
        &__arrow-right {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.5);
            margin-left: 10px;
            position: relative;
            padding: 16px;
            cursor: pointer;
            border: none;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                width: 6px;
                height: 6px;
            }

            &:hover::before {
                border-top: 2px solid #ff6b00;
                border-right: 2px solid #ff6b00;
            }
        }

        &__arrow-left::before {
            transform: translate(-50%, -50%) rotate(-135deg);
        }

        &__arrow-right::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &__list {
            position: relative;
            display: flex;
            gap: 57px;
        }

        &__card {
            position: relative;
            max-width: 243px;
            min-height: 360px;
            display: flex;
            flex-direction: column;
            border-radius: 31px;
            overflow: hidden;
        }

        &__img-block {
            position: relative;
        }

        &__img {
            position: relative;
            display: block;
        }

        &__icon {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 5px;
            right: 10px;
            background-image: url(../Playlist/img/like.png);
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }

        &__info-block {
            font-size: 14px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 24px 16px;
            border-radius: 0 0 30px 30px;
            background: linear-gradient(180deg, rgba(27, 28, 30, 0.8) 0%, rgba(27, 28, 30, 0.48) 100%);
            backdrop-filter: blur(10px);
        }

        &__info {
            display: flex;
            justify-content: space-between;
        }
    }
}
