.header {
    position: fixed;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    z-index: 10;
    background-color: rgba(38, 38, 38, 0.697);

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1440px;
    }

    &__menu {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;

        &__span {
            text-decoration: none;
            color: white;
            padding: 23px 10px;
        }
    }
}
