body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
